<!--/* Temperature fragment */-->
<div th:fragment="temperature" class="content-sidebar-spaced">
    <div class="alert alert-secondary temperature" role="alert">
        <p class="text-center">Current : <b id="temperature">0</b></p>
    </div>
    <div class="model">
        <div class="modal-dialog chartModal" >
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Count Graph</h5>
                </div>
                <div class="model-body">
                    <div class="container chartContainer">
                        <canvas id="lineChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--/* Live Table fragment */-->
<div th:fragment="liveTable">
    <div id="content" class="content-sidebar-spaced">
<!--        <button id="inject" class="btn btn-sm btn-outline-dark btn-outline-custom">Purify XSS</button>-->
<!--        <button id="load" class="btn btn-sm btn-outline-dark btn-outline-custom">Load POST</button>-->
        <a th:href="@{/home}">
            <button id="getLoad" class="btn btn-sm btn-outline-dark btn-outline-custom">Clear Screen</button>
        </a>

        <h5 class="text-center">Live Consumer</h5>
        <table data-bs-theme="dark" id="kafkaTable"  class="table display">
            <thead>
            <tr>
                <th>Topic</th>
                <th>Key</th>
                <th>Value</th>
                <th>Time</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
</div>

<div th:fragment="nav" class="card bg-dark" style="width: 125px;position: absolute;top:200px">
    <ul class="nav flex-column">
        <li class="nav-item dropend">
            <a class="nav-link text-white dropdown-toggle " data-bs-toggle="dropdown" href="#" role="button" id="inboundDropNav" aria-haspopup="true" aria-expanded="false">Inbound</a>
            <div class="dropdown-menu bg-dark-subtle" aria-labelledby="inboundDropNav">
                <a class="dropdown-item" onclick="alert(`Load Page`)">MANIFEST</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" onclick="alert(`Load Page`)">PLACI</a>
                <a class="dropdown-item" onclick="alert(`Load Page`)">PACT</a>
                <a class="dropdown-item" onclick="alert(`Load Page`)">Watchlist</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" onclick="alert(`Load Page`)">Reports</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white disabled" onclick="alert(`Load Page`)">EXCS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" onclick="alert(`Load Page`)">Outbound</a>
        </li>
    </ul>
</div>