.temperature {
    width:300px;
    margin-left:40%;
    margin-top:10px;
}

.chartModal {
    width:80%;
    height:auto;
}

.chartContainer {
    width:80%;
}

#content {
    max-width: 90%;
    margin: 0 auto;
}

body {
    background: rgb(17, 94, 89, 0.42);
}

.nav-link:focus, .nav-link:hover {
    /*background-color: rgba(64, 66, 70, 0.69) !important;*/
    background: linear-gradient(
            45deg,
            hsla(168, 85%, 52%, 0.5),
            hsla(263, 88%, 45%, 0.5) 100%
    )
}