.temperature {
    width:300px;
    margin-left:40%;
    margin-top:10px;
}

.chartModal {
    width:80%;
    height:auto;
}

.chartContainer {
    width:80%;
}

#content {
    max-width: 90%;
    margin: 0 auto;
}

body {
    background: rgb(17, 94, 89, 0.42);
}