<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="~{fragments/head :: default}" />
    <body>
        <div class="float-end m-2 me-5">
            <h1 th:text="${sourceLoad}" />
            <button id="h2-console" class="btn btn-sm btn-outline-dark">Console</button>
        </div>
        <div th:replace="~{fragments/demos :: temperature}" />
        <div th:replace="~{fragments/demos :: liveTable}" />
    </body>
</html>